.nav-link {
    direction: rtl;
}

.navbar-nav .nav-link>.fe {
    text-align: right;
}

.navbar-vertical .navbar-nav .nav-link[data-toggle=collapse]:after {
    margin-right: auto;
    margin-left: 0;
}

.navbar-vertical.navbar-expand-md .navbar-nav .nav .nav-link {
    padding-right: 3.25rem;
    padding-left: 26px;
}

.navbar-vertical .navbar-nav .nav .nav-link {
    padding-rigth: 2.75rem;
    padding-left: 0;
}

.navbar-vertical.navbar-expand-md .navbar-nav .nav-link.active:before {
    border-right: 2px solid #2c7be5;
    border-left: 0px;
    left: auto;
    right: 0;
}

.nav-link {
    font-family: "DIN Next LT Arabic Regular";
    font-size: 14px;
}

.nav-link .title-link {
    margin-top: -5px;
}

.navbar-heading {
    font-family: "DIN Next LT Arabic Regular";
    margin-top: 10px;
    font-size: 11px !important;
}

.navbar-nav .nav-link> svg {
    text-align: right;
}
.navbar-nav .nav-link> svg {
    display: inline-block;
    min-width: 1.75rem;
    margin-right: -7px;
    margin-left: 7px;
}

.navbar-vertical.navbar-expand-md .navbar-nav .nav-link {
    padding: 0.6rem 1.5rem;
    margin-bottom: 5px;
}

.header-navbar-i {
    background: #0000002b;
    color: #fff;
    margin-top: -12px;
    margin-right: -21px;
    margin-left: -21px;
    padding: 15px;
    direction: rtl;
    font-family: "DIN Next LT Arabic Regular";
    font-size: 14px;
}

.logo-header {
    width: 25px;
    margin-left: 10px;
}

.header-pretitle {
    font-family: "DIN Next LT Arabic Regular";
}

.header-title {
    font-family: "DIN Next LT Arabic Regular";
}

.btn {
    font-family: "DIN Next LT Arabic Regular";
}

.card-header{
    direction: rtl;
}

.search-table{
    font-family: "DIN Next LT Arabic Regular";
    font-size: 14px;
    margin-top: -2px;
}

.table-live-data{
    direction: rtl;
    font-family: "DIN Next LT Arabic Regular";
}

.card-table tbody td:first-child, .card-table thead th:first-child {
    padding-left: 0.0rem!important;
}

.custom-control {
    padding-left: 0px !important;
}

.card-table tbody td:last-child, .card-table thead th:last-child{
    padding-left: 0px !important;
    text-align: center !important;

}

.table [data-sort]::after{
    margin-right: .25rem;
    margin-left: 0;
}
.table tbody td, .table tbody th, .table thead th{
    text-align: center;
}

.form-group {
    text-align: right;
    font-family: "DIN Next LT Arabic Regular";
}

.form-control {
    padding-right: 10px !important;
}

.card {
    text-align: right;
    font-family: "DIN Next LT Arabic Regular";
}


.input-group.input-group-merge>.form-control-prepended {
    padding-left: 0;
    border-top-left-radius: .375rem!important;
    border-bottom-left-radius: .375rem!important;
    padding-right: .375rem !important;
    border-top-right-radius: 0!important;
    border-bottom-right-radius: 0!important;
    border-left-width: 1px !important;
    border-right: 0 !important;
}

.input-group.input-group-merge>.input-group-prepend>.input-group-text {
    padding-right: 0.775rem !important;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    padding-left: .375rem !important;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-right-width: 1px !important;
    border-left-width: 0 !important;
    border-top-right-radius: .375rem !important;
    border-bottom-right-radius: .375rem !important;
}

.modal-header {
    align-items: center;
    direction: rtl;
}

.modal-title {
    font-family: "DIN Next LT Arabic Regular";
}

.modal-header .close {
    margin: -1.5rem auto -1.5rem -1.5rem;
}

.upload-single-file {
    width: 100%;
    height: 120px;
    border: 1px dashed #d2ddec;
    border-radius: 4px;
    text-align: center;
    color: #95aac9;
    transition: all .2s ease-in-out;
    cursor: pointer;
    z-index: 999;
}

.upload-single-file input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    outline: none;
    opacity: 0;
}

.upload-single-file p {
    width: 100%;
    height: 100%;
    text-align: center;
    line-height: 120px;
}

.upload-single-file:hover {
    border-color: #95aac9;
    color: #12263f;
}

.alert {
    direction: rtl;
    text-align: right;
    font-family: "DIN Next LT Arabic Regular";
}

.alert-dismissible .close {
    left: 0;
    right: auto;
}

.alert-dismissible {
    padding-right: 1.25rem !important;
}

.pagination-class {
    direction: rtl !important;
}

.page-item:first-child .page, .page-item:first-child .page-link {
    margin-left: 0;
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
    border-top-right-radius: .375rem !important;
    border-bottom-right-radius: .375rem !important;
}

.page-item:last-child .page, .page-item:last-child .page-link {
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
    border-top-left-radius: .375rem !important;
    border-bottom-left-radius: .375rem!important;
}

.swal2-title {
    font-family: "DIN Next LT Arabic Regular";
    direction: rtl;
    text-align: right !important;
}

#swal2-content {
    font-family: "DIN Next LT Arabic Regular";
    direction: rtl;
}

.swal2-styled {
    font-family: "DIN Next LT Arabic Regular";
}

#myTabMulit{
    direction: rtl;
    padding-right: 0;
    font-family: "DIN Next LT Arabic Regular";
}

.nav-tabs .nav-item:first-child {
    margin-right: 0;
    margin-left: .75rem;
}

.tabBody {
    direction: rtl;
    margin-top: 30px;
}

.dropdown-menu {
    direction: rtl;
    text-align: right;
    font-size: 13.5px;
}

.select2-results__option {
    font-family: "DIN Next LT Arabic Regular";
}

.nav-tabs .nav-item:last-child {
    margin-right: .75rem;
}


.dropzone {
    border: 1px dashed #d2ddec !important;
    border-radius: .375rem;
}

.dropzone:hover .dz-message{
    border-color: #95aac9;
    color: #12263f;
}

.dropzone:hover{
    border-color: #95aac9 !important;
}

.dz-message {
    border: 0;

}

.dropzone {
    position: relative;
    display: block;
    flex-direction: column;
}


.card-loading {
    width: 100%;
    text-align: center;
    margin-top: 10px;
}

.card-loading-title {
    margin-top: 15px;
}

.app_icon {
    width: 55px;
    height: 55px;
    border-radius: 11px;
}


a.wp-link {
    color: #2eb93a;
    transition: 0.2s;

}

a.wp-link:hover {
    transition: 0.2s;
    color: #258e2e;
}

.custom-select {
    background-position: left 0.75rem center;
    direction: rtl;
    padding: .5rem 1rem .5rem 2rem;
}

.bankImage {
    width: 40px;
    border-radius: 5px;
}


.ql-editor.ql-blank::before {
    text-align: right;
    top: .5rem;
    left: .75rem;
    font-style: normal;
    color: #b1c2d9;
    font-family: "DIN Next LT Arabic Regular";
}


.ql-editor > * {
    cursor: text;
    direction: rtl !IMPORTANT;
    text-align: right !IMPORTANT;
}

.ql-editor ol, .ql-editor ul {
    padding-left: 0 !IMPORTANT;
    padding-right: 1.5em !IMPORTANT;
}

.ql-editor ol li:not(.ql-direction-rtl), .ql-editor ul li:not(.ql-direction-rtl) {
    padding-left: 0 !IMPORTANT;
    padding-right: 1.5em !IMPORTANT;
}
.ql-editor li:not(.ql-direction-rtl)::before {
    margin-left: 0.3em;
    margin-right: -1.5em;
    text-align: left;
}
